

  @media all and (max-width: 600px){

body{
    margin:0;
}

    /* flexbox */

.container1{
    padding-left: 1rem;
    display: flex;
}

.language{
    padding-left: 15rem;
    padding-top: 1.5rem;
}

.language a{
    text-decoration: none;
    color:black;
    padding: 0.25rem;
}




nav ul{
    margin-top: 0;
    margin-bottom: 0;
    list-style:none;
    text-align: center;
    margin-left: -2.75rem;
  
}

nav a{
    padding: 1rem;
    display:block;
    border: solid black;
    text-decoration: none;
    color: black;
}


  








  }